body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
figure {
  display: inline-block;
}
nav {
  text-align: center;
}
nav a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
}
figcaption {
  display: inline-block;
  font-size: 15px;
}
#featured-property {
  width: 800px;
  text-align: center;
}
#details {
  display: block;
}
#details ~ div {
  float: left;
  background: blue;
  text-align: center;
  width: 25%;
}
